@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
     font-family: "Nunito", sans-serif;
     text-decoration: none;
    /* color: var(--text-color); */

}
:root{
    --bg-color:#191f36;
    --text-color:#fff;
    --scnd-color:#262840;
    --main-color:#59b2f4;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header-design{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 9% ;
   background: var(--scnd-color);
   z-index: 10;
 
}
.logo{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
}
#menu-icon{
    display: none;
}
#close-icon{
    display: none;
}
.navbar a{
    margin-left: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
}
.navbar a:hover{
    cursor: pointer;
    transition: .6s ease-in-out;
    border-bottom: 2px solid var(--bg-color);
}
section{
 min-height: 100vh;
 padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    justify-content: space-between;
}
.home-intro h1{
    font-size: 5.2rem;
    font-weight: 700;
 

}
.home-intro h3{
    font-size: 3.2rem;
    font-weight: 500;
}
 span{
    color: var(--main-color);
    
}
.home-intro p{
    font-size: 1.8rem;
}
.home-image img{
    width: 30vw;
    /* animation: floatImage 4s ease-in-out infinite; */
    animation: floatImage 4s ease-in-out infinite;
border-radius: 50%;
border: .2rem solid var(--main-color);

}
@keyframes floatImage{
    0%{
    transform: translateY(0);
    }
    50%{
        transform: translateY(-1.8rem);
    }
    100%{
        transform: translateY(0);
    }

}
.social-media a{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    color: var(--main-color);
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    transition: .4s ease-in;
    font-size: 2rem;
    margin: 2rem 1.5rem 2rem 0; 
    text-decoration: none;
}
.journey{
    padding: 0;
}
.journey h2{
    font-size: 4rem;
   
    margin-bottom: 2rem;
}


.journey-box h3{
    font-size: 3.5rem;   
}
.journey-box p{
    font-size: 1.5rem;
    padding: 1rem 0;
   
}

.journey-box {
    background-color: var(--scnd-color);
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
  border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.journey-box img {
    width: 8rem; /* You can adjust the size of images as needed */
}
.journey-box {
    height: 100%; 
    min-height: 10rem; 
}
.journey-box:hover{
     border: var(--main-color);
    transform: scale(1.02);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 600;
    color: var(--bg-color);
    transition: .5s ease;
    box-shadow: 0 0 1rem var(--main-color);
}
.skills{
    background-color: var(--scnd-color);
    margin-top: 3rem;
}
.skills h2{
    font-size: 5.5rem;
    margin-bottom: 2rem;
}
.skill-items img {
    max-width: 100%;
  height: 20rem;
 object-fit: cover;
   display: block;
   border-radius: 1rem;
   box-shadow: 0 0 1rem var(--bg-color);
   margin-bottom: 1.5rem;
   opacity: 0.5;
  
}
.skill-items{
    position: relative;
    overflow: hidden;
}
.skill-layers{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   text-align: center;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  opacity: 0;
  transition: .4s ease-in-out;
}
.skill-items:hover .skill-layers{
    opacity: 1;
}
.skill-layers h3{
    font-size: 3rem;
       margin: 0.5rem 0;
       font-weight: bold;
}
.skill-layers p{
    font-size: 1.3rem;
    line-height: 1.5;
}
.projects h2{
    font-size: 4rem;
    margin-bottom: 3rem;
}
.project-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.project-items img{
    max-height: 40rem;
    border-radius: 1.4rem;
    opacity: 0.7;
}
.project-items h4 a{
    font-size: 1.7rem;
     text-decoration: none;
   color: var(--text-color);
   
}
.project-items a:hover{
    transition: 0.5s ease-in;
    color: var(--main-color);
  
}
.project-items p{
    font-size: 1.4rem;

}
.contact h2{
    font-size: 5rem;
    margin-bottom: 2rem;
}


.form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    /* outline: none;
    border: none; */
}
.input-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
.input-form input, .form textarea{
     width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--scnd-color);
    border-radius: .8rem;
    margin: .7rem 0;
    border: none;
}

.contact .form .input-form input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--scnd-color);
}
.footer-text{
    font-size: 1.6rem;
}
.footer-icon-top{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-icon-top a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-icon-top a i{
    font-size: 2.4rem;
    color: var(--scnd-color);
}